In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("out.xlsx")

In [3]:
def save(x):
    if x['A'] >= x['B']:
        return x['A']
    else:
        return x['B']
df['Prediction'] = df.apply(save, axis=1)

In [4]:
df

          id      A      B  Prediction
0          0    0.0  100.0       100.0
1          1    0.0  100.0       100.0
2          2    0.0  100.0       100.0
3          3  100.0    0.0       100.0
4          4  100.0    0.0       100.0
...      ...    ...    ...         ...
12495  12495    0.0  100.0       100.0
12496  12496  100.0    0.0       100.0
12497  12497  100.0    0.0       100.0
12498  12498    0.0  100.0       100.0
12499  12499  100.0    0.0       100.0

[12500 rows x 4 columns]